.close-button {
    top: var(--lwc-spacingXxSmall);
    right: var(--lwc-spacingXxSmall);
    background-color: #fff;
    transition: all .4s;
}

.close-button > lightning-icon {
    transform: scale(80%);
    filter: brightness(50%); 
}

.close-button:hover {
    filter: brightness(80%);
    border-radius: var(--lwc-borderRadiusCircle);
}